{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Processus et multi-tâche. </h2>
    <h3>Contexte historique</h3>
    <p>
        Les années 1960 ont constitué un tournant pour les système d'exploitation. Dans le cadre du projet MAC au MIT
        (Massachusset Institute of Technology), le système d'exploitation CTTS est publié en 1961. C'est l'un des tout
        premiers système d'exploitation à temps partagé, permettant à plusieurs utilisateurs d'utiliser un ordinateur en
        même temps. C'est une déclinaison du multitâche apparu peu de temps avant, et c'est cette apparente simultaneité
        dans l'exécution des programmes qui a permis de se diriger vers l'informatique moderne.
    </p>
    <p>
        En effet, si l'on prend l'exemple du smartphone, cet ordinateur que l'on a dans la poche, alors que nous
        regardons une vidéo, il va suivre les antennes relais et se synchroniser avec, écouter s'il y a un appel
        téléphonique ou des SMS qui arrive, vérifier les nouveaux courriers électroniques, mettre à jour les
        notifications des différents réseaux sociaux,etc. Il y a toute une myriade de processus qui s'éxécute de façon
        «simultanée».
    </p>
    <p>
        Le MIT s'accocia aux laboratoires BELL et à General Electric pour créer
        <a href="https://fr.wikipedia.org/wiki/Multics" target="_blank">Multics </a> qui était un système innovant,
        héritant de CTTS,
        et était l'un des premier système d'exploitation avec système de fichier hiérarchique, temps partagé, multitâche
        préemptif, multiutilisateur, avec une prise en compte de la sécurité. La première version sortit en 1965.
    </p>
    <p>
        En 1969, les laboratoires BELL sortirent du projet et deux de leurs plus brillants informaticiens,
        <a href="htps://fr.wikipedia.org/wiki/Ken_Thompson" target='_blank'>Ken THOMPSON </a> et
        <a href="https://fr.wikipedia.org/wiki/Dennis_Ritchie" target='_blank'>Dennis RITCHIE </a>, qui avaient
        travaillé sur le projet MULTICS en conçurent une version simplifiée (ils considéraient MULTICS inutilement
        complexe) qu'ils nommèrent initialement UNICS puis UNIX. L'informatique moderne était née !
    </p>
    <h3> Contexte informatique </h3>
    <p>
        Le multitâche et le temps partagé sont les deux moteurs qui rendent nos outils informatiques si réactifs et
        intuitifs. Au niveau du noyau, l'ordonnanceur est chargé de gérer la répartition du temps de processeur entre
        les différentes tâches. Il est une des pièces du complexe processus de gestion des processus.
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail"
                src="ressources/processus/assets/img/Ordonnanceur.png">
            <figcaption class="figure-caption"> Principe de l'ordonnanceur </figcaption>
        </figure>
    </div>
    <p>
        Nous allons voir quels sont les différents outils à notre disposition pour visualiser les processus, les gérer,
        les créer … et même les tuer !
    </p>
</div>
{% endblock %}